<div class="color_text">
<body background="../assets/bg.png" id="bg" >
	<div align="center">
<div class="mydiv">

<h1>New Comment</h1>

<%= render 'form' %>

<%= link_to 'Back', comments_path %>
</div>
</div>
</div>
