<div class="color_text">
<p id="notice"><%= notice %></p>
<body background="../assets/bg.png" id="bg" >
<div align="center">
<div class="mydiv">

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', article_path(@comment.article_id) %>
</div>
</div>
</div>