<div class="color_text">
	<div align="center">
<div class="mydiv">
<h1>New Article</h1>
<body background="../assets/bg.png" id="bg" >

<%= render 'form' %>

<%= link_to 'Back', articles_path %>

</div>
</div>
</div>
